@import url("fonts.css");
@import url("header.css");
@import url("footer.css");

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: Poppins-Regular, sans-serif;
  overflow: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
button {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #5555cc;
}

#content {
  background-color: #f0f0f8;
  color: #444;
  display: flex;
  flex-direction: column;
}

section[data-section] {
  margin-top: 2em;
  padding: 1.5em;
  min-height: 100vh;
}

section[data-section].active {
  background-color: pink;
}

#scroll-to-top {
  position: fixed;
  bottom: 1.6em;
  right: 1.3em;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: white;
  color: #444;
  font-size: 2em;
  padding: 0.2em;
  border: 0;
}
